/* Footer styles */

.footer-container { 
  padding: 30px 0;
  text-align: center;
}

.footer-icon {
  color: #4E3A28; /* Dark woody brown color for icon */
  font-size: 2em;
  margin: 0 10px;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.footer-icon:hover {
  color: #2D1E12; /* Even darker brown on hover */
  transform: scale(1.2);
  cursor: pointer;
}
